.section-top {
  position: relative;
  height: 100vh; /* Ensures the slider takes up the full viewport height */
  overflow: hidden; /* Prevents overflow from images */
  width: 100%; /* Makes the slider span the full width of the screen */
}

.section-top img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Stretches the image to the full width of the container */
  height: 100%; /* Stretches the image to the full height of the container */
  object-fit: fill; /* Ensures the entire image is visible without cropping */
  object-position: center; /* Centers the image within the container */
  opacity: 0; /* Initial transparency for fade-in effect */
  animation: fade-in 40s infinite; /* Applies the fade-in animation */
}

/* Define fade-in animation */
.section-top img:nth-child(1) {
  animation-delay: 0s;
}
.section-top img:nth-child(2) {
  animation-delay: 3s;
}
.section-top img:nth-child(3) {
  animation-delay: 6s;
}
.section-top img:nth-child(4) {
  animation-delay: 9s;
}
.section-top img:nth-child(5) {
  animation-delay: 12s;
}
.section-top img:nth-child(6) {
  animation-delay: 15s;
}
.section-top img:nth-child(7) {
  animation-delay: 18s;
}
.section-top img:nth-child(8) {
  animation-delay: 21s;
}
.section-top img:nth-child(9) {
  animation-delay: 24s;
}
.section-top img:nth-child(10) {
  animation-delay: 27s;
}
.section-top img:nth-child(11) {
  animation-delay: 30s;
}
.section-top img:nth-child(12) {
  animation-delay: 33s;
}
.section-top img:nth-child(13) {
  animation-delay: 37s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.content {
  position: absolute;
  top: 30%;
  left: 7%;
  color: rgba(255, 0, 0, 0.997);
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.sideLine,
h3 {
  position: relative;
  padding-left: 1.7rem;
}

.sideLine::before {
  content: "";
  position: absolute;
  left: 0.6rem;
  top: 0;
  width: 0.4rem;
  height: 100%;
  background-color: #d71c0e;
}

/* Marquee Section */
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #fff;
}

.marquee-content {
  display: inline-block;
  animation: marquee 20s linear infinite;
  color: #8c1911;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.marquee-content span {
  margin: 0 1rem;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Responsive Design */
@media (max-width: 700px) {
  .section-top {
    height: 100vh; /* Keeps the full height for smaller screens */
  }

  .content {
    top: 20%; /* Adjusts content position for better visibility on small screens */
  }
}
